<style>
   .ck,.bc,.mar,.sn,.cb,.md,.cc{
       color: black;
       border: 1px solid orange;
       width: 400px;
       text-align: center;
   }
   .head a{
      color:red;
       font-weight: 600;
       font-size: 130%;
       
   }
   
   .row,.row2,.row3,.row4{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-around ;
   }
   .r1,.r2,.r3{
       border: 1px solid orange;
       width: 400px;
       text-align: center;
   }
   .r{
       display: flex;
       justify-content: center;
   }

*{
    background-color: lemonchiffon;
}
</style>